*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafb;
}

.row-limit-size {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ---------- HEADER - NAV BAR---------- */

#header {
  /* background-image: url(./IMG/hero-left.png);
  background-position: left;
  background-size: 70vw;
  background-repeat: no-repeat; */
  background-color: #7421fc;
  height: 100vh;
  min-height: 60px;
  padding: 0 5%;
  margin: 0 auto;
  overflow: auto;
  position: relative;
}

#nav-top {
  height: 90px;
  display: flex;
  align-items: center;
}

#container-logo {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

#logo {
  height: 40px;
}

/* #container-logo span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 45px;
  color: #ffffff;
} */

#link-nav {
  width: fit-content;
  display: flex;
  justify-content: center;
}

#link-nav a {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 126.9%;
  letter-spacing: 0.02em;
  color: #fff;
  position: relative;
}

#link-nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#link-nav a:hover::before {
  transform: scaleX(1);
}

#link-nav a:hover::after {
  transform: rotate(0);
}

#link-nav a::after {
  content: "";
  color: #eeeeee;
  position: absolute;
  top: 10px;
  right: -19px;
  background-image: url(./IMG/arrox-nav-link.svg);
  background-size: cover;
  background-position: center;
  height: 15px;
  width: 15px;
  transform: rotate(-90deg);
}

#link-nav ul {
  display: flex;
}

#link-nav > ul a {
  margin: 0 25px 25px;
}

#container-connexion {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

#container-connexion ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#login {
  margin: 0 15px 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 126.9%;
  color: #fff;
}

#btn-burger {
  display: none;
}

#btn-connexion {
  width: 171px;
  height: 60px;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 126.9%;
  color: #fff;
  background: #f72585;
  border-radius: 10px;
}

#btn-connexion:hover {
  opacity: 90%;
  color: #f72585;
  background: rgb(255, 255, 255);
  border: 2px solid #f72585;
  margin-left: -4px;
}

@media screen and (max-width: 1150px) {
  #link-nav {
    display: none;
  }
}

/* ---------- SUB-MENU---------- */

#sub-menu {
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: 99;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none; 
  animation: 1s ease-in-out;
  left: 0;
}

#container-sub-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

#sub-menu li {
  margin: 25px 25px 0;
}

#sub-menu a::before {
  content: "🖥️";
}

#sub-menu a:hover {
  text-decoration: underline;
}

/* #link-nav ul li a:hover #sub-menu {
    display: none;
} */

/* ---------- HEADER - HERO---------- */

#container-hero {
  display: flex;
  justify-content: center;
  min-height: 60px;
  padding-top: 60px;
}

#hero-description {
  width: 50%;
  height: 100%;
}

#hero-picture {
  width: 50%;
  height: fit-content;
  margin-bottom: -200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 3000px 380px 200px 110px;
}

#hero-picture img{
  margin-top: 10%;
  height: 25%;
}

@media screen and (max-width: 1500px) {
  #hero-picture {
    width: 40%;
  }

  #hero-description {
    width: 60%;
  }
  #hero-picture img {
    margin-top: 20%;
  }
}

@media screen and (max-width: 1250px) {
  #hero-picture {
    width: 30%;
  }

  #hero-description {
    width: 70%;
  }
  #hero-picture img {
    margin-top: 20%;
    height: 50%;
  }
}

@media screen and (max-width: 1110px) {
  #hero-picture {
    display: none;
  }
  #container-hero #hero-description {
    width: 90%;
    margin: 70px auto;
  }

  #login {
    display: none;
  }

  #btn-burger {
    display: block;
  }

  #btn-connexion {
    display: none;
  }

  #container-pipe {
    background: #f72585;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0;
  }

  .pipe-burger {
    height: 3px;
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {
  #header #container-hero {
    width: 90%;
    margin: 0 auto;
  }

  #container-hero #hero-description {
    width: 100%;
  }

  #hero-description h1 {
    font-size: 54px;
  }

  #container-hero #hero-description p {
    font-size: 23px;
  }
}

@media screen and (max-width: 650px) {
  #hero-description h1 {
    font-size: 44px;
  }

  #hero-description h1::after {
    display: none;
  }

  #container-hero #hero-description p {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  #hero-description h1 {
    font-size: 40px;
  }

  #container-hero #hero-description p {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  #hero-description h1 {
    font-size: 28px;
  }

  #container-hero #hero-description p {
    font-size: 12px;
  }

  #hero-description #hello {
    font-size: 14px;
  }

  #container-hero #hero-description a {
    font-size: 16px;
  }
}

#hello {
  background: #ffffff;
  box-shadow: 2px 2px 12px rgba(38, 40, 82, 0.1);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160.4%;
  letter-spacing: 0.04em;
  color: #606060;
  padding: 8px;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 126.9%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 30px;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

h1::after {
  content: url(./IMG/Decore-outivy.png);
  width: 20%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 20px;
  left: 0;
}

#hero-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 160.4%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 60px;
  position: relative;
  white-space: nowrap;
}

#hero-description p::after {
  content: url(./IMG/lineh1-hero.svg);
  position: absolute;
  top: -55px;
  left: 0;
}

#hero-description a {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 126.9%;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 5px;
}

#arrow-animation {
  position: relative;
  top: 0px;
  left: 0px;
  transform-origin: center;
  animation: fleche 0.8s infinite;
}

#btn-reservation:hover #arrow-animation {
  display: block;
  width: 0;
  height: 0;
  top: -15px;
  left: 300px;
}

@keyframes fleche {
  from {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
