*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafb;
}

.row-limit-size {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ---------- HEADER - NAV BAR---------- */

#header {
  background-color: #3c2463;
  height: 100vh;
  min-height: 900px;
  max-height: 1100px;
  padding: 0 5%;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
}

#header::before,
#header::after {
  content: "";
  width: 50vmax;
  height: 50vmax;
  position: absolute;
  background: #d9d2e4;
  opacity: 0.1;
  left: -20vmin;
  top: -20vmin;
  animation: morph 10s linear infinite alternate, spin 2s linear infinite;
  z-index: 0;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none;
}

#header::after {
  width: 30vmin;
  height: 30vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 7s linear infinite alternate,
    spin 26s linear infinite reverse;
  transform-origin: 20% 20%;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

#nav-top {
  height: 140px;
  display: flex;
  align-items: center;
}

#container-logo {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

.logo {
  height: 40px;
}

#link-nav {
  width: fit-content;
  display: flex;
  justify-content: center;
}

#link-nav a {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 126.9%;
  letter-spacing: 0.02em;
  color: #fff;
  position: relative;
}

#link-nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#link-nav a:hover::before {
  transform: scaleX(1);
}

#link-nav a:hover::after {
  transform: rotate(0);
}

#link-nav a::after {
  content: "";
  color: #eeeeee;
  position: absolute;
  top: 10px;
  right: -19px;
  background-image: url(./IMG/arrox-nav-link.svg);
  background-size: cover;
  background-position: center;
  height: 15px;
  width: 15px;
  transform: rotate(-90deg);
}

#link-nav ul {
  display: flex;
}

#link-nav > ul a {
  margin: 0 25px 25px;
}

#container-connexion {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

#container-connexion ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#login {
  margin: 0 15px 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 126.9%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
}

#login:hover {
  color: #f72585;
  border: 2px solid #f72585;
}

#btn-burger {
  display: none;
}

#btn-connexion {
  width: 171px;
  height: 60px;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 126.9%;
  color: #fff;
  background: #f72585;
  border-radius: 10px;
}

#btn-connexion:hover {
  opacity: 90%;
  color: #f72585;
  background: rgb(255, 255, 255);
}

@media screen and (max-width: 1150px) {
  #link-nav {
    display: none;
  }
}

/* ---------- SUB-MENU---------- */

#sub-menu {
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: 999;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
  animation: 1s ease-in-out;
  left: 0;
}

#container-sub-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

#sub-menu li {
  margin: 25px 25px 0;
}

#sub-menu a::before {
  content: "🖥️";
}

#sub-menu a:hover {
  text-decoration: underline;
}

/* ---------- HEADER - HERO---------- */

#container-hero {
  display: flex;
  justify-content: center;
  min-height: 60px;
  padding-top: 60px;
}

#hero-description {
  width: 50%;
  height: 100%;
  padding-bottom: 100px;
  position: relative;
}

#hero-picture {
  width: 50%;
  height: 100%;
  position: relative;
}

#container-ellipse {
  height: 100%;
  width: 100%;
  position: relative;
  top: 400px;
}

.round {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 1px solid #fff;
  background-size: cover;
  background-position: center;
}

#round-1 {
  background-image: url(./IMG/bubble-logo-1.png);
  animation: rondGauche 30s infinite;
}

#round-2 {
  background-image: url(./IMG/FS-AFFI4-074-Glide-Apps.png);
  animation: rondGauche 30s infinite;
}

#round-3 {
  background-image: url(./IMG/softr.png);
  animation: rondDroite 30s infinite;
}

#round-4 {
  background-image: url(./IMG/formation-flutter.png);
  animation: rondDroite 30s infinite;
}

#round-5 {
  background-image: url(./IMG/airtable.png);
  animation: rondGauche 30s infinite;
}

#round-6 {
  background-image: url(./IMG/make-app-icon-circle.png);
  animation: rondGauche 30s infinite;
}

.ellipse-commun {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ellipse-small {
  bottom: -100px;
  left: 255px;
  z-index: 99;
  animation: ellipseAnim-small 30s infinite;
  background-image: url(./IMG/Ellipse-petite-hero.png);
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;
}

#ellipse-middle {
  bottom: -170px;
  left: 180px;
  z-index: 50;
  transform-origin: center;
  animation: ellipseAnim-middle 30s infinite;
  background-image: url(./IMG/Ellipse-moyenne-hero.png);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

#ellipse-tall {
  bottom: -240px;
  left: 105px;
  z-index: 1;
  animation: ellipseAnim-tall 30s infinite;
  background-image: url(./IMG/Ellipse-grande-hero.png);
  background-position: center;
  background-size: cover;
  width: 550px;
  height: 550px;
}

@keyframes ellipseAnim-small {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes ellipseAnim-middle {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ellipseAnim-tall {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rondGauche {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rondDroite {
  from {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.picto-hero {
  position: absolute;
  background-size: cover;
  z-index: 99;
}

#picto-hero {
  background-image: url(./IMG/pic-hero.png);
}

#picto-hero1 {
  background-image: url(./IMG/pic-hero1.png);
  top: 40px;
  left: 250px;
  height: 50px;
  width: 50px;
}

#picto-hero2 {
  background-image: url(./IMG/pic-hero2.png);
  top: 280px;
  left: 340px;
  height: 40px;
  width: 40px;
}

#picto-hero3 {
  background-image: url(./IMG/pic-hero3.png);
}

#picto-hero4 {
  background-image: url(./IMG/pic-hero4.png);
  top: 580px;
  left: 540px;
  height: 40px;
  width: 40px;
}

#picto-hero5 {
  background-image: url(./IMG/pic-hero5.png);
  top: 680px;
  left: 10px;
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1500px) {
  #hero-picture {
    width: 40%;
  }

  #hero-description {
    width: 60%;
  }
  #hero-picture img {
    margin-top: 20%;
  }
}

@media screen and (max-width: 1250px) {
  #hero-picture {
    width: 30%;
  }

  #hero-description {
    width: 70%;
  }
  #hero-picture img {
    margin-top: 20%;
    height: 50%;
  }
}

@media screen and (max-width: 1110px) {
  #hero-picture {
    display: none;
  }

  #container-hero {
    padding-top: 30px;
  }

  #container-hero #hero-description {
    width: 90%;
  }

  #login {
    display: none;
  }

  #btn-burger {
    display: block;
  }

  #btn-connexion {
    display: none;
  }

  #container-pipe {
    background: #f72585;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0;
  }

  .pipe-burger {
    height: 3px;
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {
  #header #container-hero {
    width: 90%;
    margin: 0 auto;
  }

  #container-hero #hero-description {
    width: 100%;
  }

  #hero-description h1 {
    font-size: 54px;
  }

  #container-hero #hero-description p {
    font-size: 23px;
  }
}

@media screen and (max-width: 650px) {
  #hero-description h1 {
    font-size: 44px;
  }

  #hero-description h1::after {
    display: none;
  }

  #container-hero #hero-description p {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  #hero-description h1 {
    font-size: 40px;
  }

  #container-hero #hero-description p {
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  #hero-description h1 {
    font-size: 28px;
  }

  #container-hero #hero-description p {
    font-size: 12px;
  }

  #hero-description #hello {
    font-size: 14px;
  }

  #container-hero #hero-description a {
    font-size: 16px;
  }
}

#hello {
  background: #ffffff;
  box-shadow: 2px 2px 12px rgba(38, 40, 82, 0.1);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160.4%;
  letter-spacing: 0.04em;
  color: #606060;
  padding: 8px;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 126.9%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 30px;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

h1::after {
  content: url(./IMG/Decore-outivy.png);
  width: 20%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 20px;
  left: 0;
}

#hero-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 160.4%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 100px;
  position: relative;
  white-space: nowrap;
}

#hero-description p::after {
  content: url(./IMG/lineh1-hero.svg);
  position: absolute;
  top: -75px;
  left: 0;
}

#hero-description a {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 126.9%;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
}

#arrow-animation {
  position: r @]elative;
  top: 0px;
  left: 0px;
  transform-origin: center;
  animation: fleche 0.8s infinite;
}

#btn-reservation:hover {
  transform: scale(1.2);
}

/* ---------- MAIN - CHOOSE - SOCIETY ---------- */

#choose-society {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-top: 120px;
}

#choose-society h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  letter-spacing: 0.02em;
  color: #515151;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}

#choose-society h4::after {
  content: url(./IMG/lineh1-hero.svg);
  position: absolute;
  top: -30px;
  left: 0;
}

#container-logo-society {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#choose-society img {
  margin: 0 25px;
}

@media screen and (min-width: 1100px) {
  #choose-society h4 {
    width: 40%;
  }

  #container-logo-society {
    width: 60%;
  }
}

/* ---------- MAIN - SERVICE ---------- */

#service {
  padding-top: 120px;
}
#service h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #565656;
  text-align: center;
  margin-bottom: 80px;
}

#service h4 span {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #ffca1d;
  text-align: center;
}

#container-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item-service {
  width: 90%;
  margin: 0 20px 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.item-service:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: #fff;
  border-radius: 20px;
}

.item-service h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #2b3377;
  margin-bottom: 30px;
  margin-top: 45px;
}

.item-service p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #585858;
  margin-bottom: 30px;
}

@media screen and (min-width: 950px) {
  .item-service {
    width: 45%;
  }
}

@media screen and (min-width: 1250px) {
  .item-service {
    width: fit-content;
  }
}

/* ---------- MAIN - FEATURES ---------- */

#features {
  padding-top: 120px;
  padding-bottom: 80px;
}

#features h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #565656;
  text-align: center;
  margin-bottom: 60px;
}
#features h4 span {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #ffca1d;
}

#container-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

#item-features-left {
  width: fit-content;
  margin-bottom: 30px;
}

#item-features-left img {
  width: 300px;
}

#item-features-right {
  width: 90%;
  margin-bottom: 30px;
}

#item-features-right h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #4a4a4a;
  margin-bottom: 20px;
}

#item-features-right p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #575757;
}

@media screen and (min-width: 950px) {
  #item-features-left {
    width: 40%;
  }
  #item-features-left img {
    width: 100%;
  }

  #item-features-right {
    width: 50%;
    padding-left: 20px;
    height: 50%;
    margin-top: 10%;
  }

  @media screen and (min-width: 1250px) {
    #item-features-right {
      padding-left: 100px;
    }

    #item-features-right h5 {
      font-size: 40px;
    }

    #item-features-right p {
      font-size: 24px;
      line-height: 38px;
    }
  }
}

/* ---------- MAIN - READY ---------- */

#ready {
  padding-top: 120px;
  background-color: #f6f4ff;
}

#container-ready {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

#item-left-ready {
  width: 90%;
}

#item-left-ready h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #4a4a4a;
  margin-bottom: 20px;
}

#item-left-ready p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #575757;
  margin-bottom: 30px;
}

#item-right-ready {
  width: 90%;
  text-align: center;
}

#item-right-ready img {
  width: 250px;
  text-align: center;
}

@media screen and (min-width: 950px) {
  #container-ready {
    width: 90%;
  }

  #item-right-ready {
    width: 50%;
  }
  #item-right-ready img {
    width: 100%;
  }

  #item-left-ready {
    width: 50%;
    padding-left: 20px;
    height: 50%;
    margin-top: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (min-width: 1250px) {
  #item-left-ready h5 {
    font-size: 40px;
  }

  #item-left-ready p {
    font-size: 24px;
    line-height: 38px;
  }
}

/* ---------- MAIN - TOOLS ---------- */

#tools {
  padding-top: 120px;
  padding-bottom: 80px;
  width: 90%;
}

#tools h4 span {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 147.4%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffca1d;
}

#tools h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 147.4%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #565656;
  margin-bottom: 60px;
}

#container-tools {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 60px;
}

.pict-tools {
  margin: 20px 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pict-tools:hover {
  transform: scale(1.2);
}

#btn-view-all {
  display: block;
  width: 171px;
  height: 60px;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 126.9%;
  color: #fff;
  background: #f72585;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
}

#btn-view-all:hover {
  opacity: 90%;
  color: #f72585;
  background: #ffffff;
  border: 2px solid #f72585;
  cursor: pointer;
}

/* ---------- MAIN - AUTOMATION---------- */

#automation {
  padding-top: 120px;
}

#container-automation {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

#item-automation-left {
  width: 100%;
  margin-bottom: 20px;
}

#item-automation-left img {
  width: 70%;
  margin: 0 auto;
  max-width: 600px;
}

#item-automation-right {
  width: 100%;
}

#item-automation-right h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #4a4a4a;
  margin-bottom: 20px;
}

#item-automation-right p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #575757;
}

@media screen and (min-width: 950px) {
  #item-automation-left {
    width: 50%;
  }

  #item-automation-right {
    width: 50%;
    margin-top: 10%;
  }
}

@media screen and (min-width: 1250px) {
  #item-automation-right h5 {
    font-size: 40px;
  }

  #item-automation-right p {
    font-size: 24px;
    line-height: 38px;
  }
}

/* ---------- MAIN - VISUAL ---------- */

#visual {
  padding-top: 120px;
}

#container-visual {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

#item-visual-left {
  width: 100%;
  margin-bottom: 30px;
}

#item-visual-left h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #4a4a4a;
  margin-bottom: 20px;
}

#item-visual-left p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #575757;
}

#item-visual-right img {
  width: 300px;
}

@media screen and (min-width: 950px) {
  #item-visual-right {
    width: 40%;
  }

  #item-visual-right img {
    width: 100%;
  }

  #item-visual-left {
    width: 50%;
    padding-left: 20px;
    height: 50%;
    margin-top: 10%;
  }
}

@media screen and (min-width: 1250px) {
  #item-visual-left {
    padding-right: 100px;
  }

  #item-visual-left h5 {
    font-size: 40px;
  }

  #item-visual-left p {
    font-size: 24px;
    line-height: 38px;
  }
}

/* ---------- MAIN - SUPPORT ---------- */

#support {
  padding-top: 120px;
}

#container-support {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

#item-support-left {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 100px;
}

#item-support-left img {
  width: 70%;
  max-width: 600px;
}

#item-support-right {
  width: 100%;
}
#item-support-right h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #4a4a4a;
  margin-bottom: 20px;
}

#item-support-right p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.005em;
  color: #575757;
  margin-bottom: 30px;
}

#btn-read-more {
  display: block;
  width: 171px;
  height: 60px;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 126.9%;
  color: #fff;
  background: #f72585;
  border-radius: 10px;
  border: none;
}

#btn-read-more:hover {
  opacity: 90%;
  color: #f72585;
  background: #ffffff;
  border: 2px solid #f72585;
  cursor: pointer;
}

@media screen and (min-width: 950px) {
  #item-support-left {
    width: 50%;
  }

  #item-support-right {
    width: 50%;
    margin-top: 10%;
  }
}

@media screen and (min-width: 1250px) {
  #item-support-right h5 {
    font-size: 40px;
  }

  #item-support-right p {
    font-size: 24px;
    line-height: 38px;
  }
}

/* ---------- MAIN - CLIENT ---------- */

#client {
  padding-top: 120px;
  height: 800px;
}

#client h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 147.4%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2d2d2d;
}

#client h4 span {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 147.4%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffca1d;
}

#import-clients {
  margin: 80px 120px auto;
}

@media screen and (min-width: 950px) {
  #container-client {
    width: 100%;
    height: 350px;
  }
}

/* ---------- FOOTER ---------- */

#footer {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #3c2463;
}

#container-footer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#item-footer-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

#logo-footer {
  width: 200px;
  border-radius: 60px 40px 8px 26px;
}

#logo-group-footer div img {
  width: 100px;
  height: 100px;
}

#item-footer-left h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #fff;
}

#item-footer-left p {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 25px;
}

#media {
  margin-top: 10px;
}

#item-footer-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  color: #fff;
}

#item-footer-middle h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 15px;
}

#item-footer-middle p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}

form {
  width: 70%;
  margin: 0 auto;
}

#item-footer-middle input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  border-radius: 5px;
  display: block;
  width: 338px;
  margin: 0 auto;
  text-align: center;
}

#btn-submit {
  background-color: transparent;
  color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #fff;
  margin: 15px auto;
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

#item-footer-right {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}

#item-footer-right a {
  color: #fff;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
}

#solutions,
#ressources {
  /* margin-bottom: 40px; */
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-footer-right {
  margin-bottom: 10px;
}

.title-footer-right #title-right-one,
.title-footer-right #title-right-two {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

@media screen and (min-width: 950px) {
  #container-footer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  #footer #item-footer-left {
    width: 50%;
  }

  #item-footer-middle {
    width: 50%;
  }
}

@media screen and (min-width: 1250px) {
  #footer #item-footer-left {
    width: 33%;
  }

  #item-footer-middle {
    width: 33%;
  }

  #item-footer-right {
    width: 33%;
  }
}
}
